*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode/**/*

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
StyleCop.Cache

# MISC
obj
packages
bin
data/db

# Include VS Code project configuration
!.vscode/tasks.json
!.vscode/launch.json


.cr/personal

# .NET
project.lock.json
project.fragment.lock.json
artifacts/

# Rider
.idea/

# Cake
tools/**
!tools/packages.config

TestCoverage.html
TestCoverage/**
*.dcvr
.claude/
